<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Question</title>
    <link rel="stylesheet" href="../styles/common.css">
</head>

<body>
    <h1>Create New Question</h1>
    <form id="question-form">
        <label for="text">Question Text:</label>
        <input type="text" id="text" name="text" required>

        <label for="options">Options (comma separated):</label>
        <input type="text" id="options" name="options" required>

        <label for="correctAnswer">Correct Answer:</label>
        <input type="text" id="correctAnswer" name="correctAnswer" required>

        <button type="submit">Create Question</button>
    </form>
    <button onclick="window.location.href='/question'">Back to Questions</button>

    <script>
        document.getElementById('question-form').onsubmit = async function (event) {
            event.preventDefault();
            const text = document.getElementById('text').value;
            const options = document.getElementById('options').value.split(',').map(opt => opt.trim());
            const correctAnswer = document.getElementById('correctAnswer').value;

            const response = await fetch('https://nodejs-quizz-app-api.onrender.com/questions', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ text, options, correctAnswer }),
            });

            if (response.ok) {
                alert('Question created successfully');
                window.location.href = '/question'; // Redirect to questions list
            } else {
                alert('Error creating question');
            }
        };
    </script>
</body>

</html>