<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/common.css">
</head>

<body>
    <div class="header">
        <div class="header-left">
            <a class="active" href="/">Home</a>
            <a href="/question">Question</a>
            <a href="/quiz">Quiz</a>
        </div>
    </div>

    <div>
        <h1 class="heading">QUIZ PAGE</h1>
    </div>
</body>

</html>